.home__banner{
    background-image: url(../images/Lineas\ Ferreas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-300px ;
    height: 500px;
    color: white;
    display: flex;
    justify-content:center;
    align-items:center;
}

.home__content{
    margin-top: 2rem;
    padding: 0px 10%;
}

.home__content__title h2{
    font-size: 2rem;
}

.home__subBanner{
    background-color: black;
    color: white;
    justify-content: center;
    display: flex;
    padding: 10px;

}

.home__content__title h2{
    display: flex;
    justify-content: center;
    
}

.home__content__cluster{
    display: flex;
    flex-wrap: wrap;
}

.home__content__cluster div{
    display: flex;
    flex-grow: 1;
    width: 31%;
    height: 250px;
    justify-content: center;
    align-items: center;
    background: tomato;
    margin: 1%;
}

.home__content__cluster div a{
    color: white;
    text-decoration: none;
}